# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
examples_tst
crash.log

test.tf
.terraform
*.tfstate
*.tfstate.backup
terraform.tfstate.*.backup
.tmp/

pkg/
temp/

terraform-provider-twilio
terraform-provider-twilio.exe

# temporary while https://github.com/golang/go/issues/27925 get sorted
go.sum

# since we are now doing go modules
vendor/

dist/